@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  line-break: after-white-space;
  -webkit-user-select: auto;
  user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:root {
  font-size: 62.5%;
  --clr-text-default: var(--clr-dark-grey);
  --clr-main-header-text: var(--clr-white);
  --clr-footer-text: var(--clr-dark-grey);
  --modal-bg-colour: var(--clr-white);
  --board-cell-size: 10rem;
  --symbol-size: calc(var(--board-cell-size) * 0.8);
  --neu-bg-default: linear-gradient(145deg, #d1d1d1, #f8f8f8);
  --neu-bg-down: #e8e8e8;
  --neu-bg-up: linear-gradient(145deg, #f8f8f8, #d1d1d1);
  --neu-shadow-default: 1rem 1rem 2rem #b7b7b7, -1rem -1rem 2rem #ffffff;
  --neu-shadow-down: inset 1rem 1rem 2rem #b7b7b7,
    inset -1rem -1rem 2rem #ffffff;
  --clr-dark-green: #264653;
  --clr-green: #2a9d8f;
  --clr-yellow: #e9c46a;
  --clr-peach: #f4a261;
  --clr-orange: #e76f51;
  --clr-white: #fdfffc;
  --clr-dark-grey: #6c757d;
  --clr-medium-grey: #adb5bd;
  --clr-light-grey: ##e8e8e8;
  --clr-super-light-grey: #f8f9fa;
  --fnt-fm-default: "Ubuntu", sans-serif;
  --fnt-sz-main-header: 4rem;
  --fnt-sz-text-default: 1.6rem;
  --fnt-sz-footer-text: 1.4rem;
  --fnt-sz-symbols: 5rem;
  --fnt-wt-300: 300;
  --fnt-wt-400: 400;
  --fnt-wt-700: 700;
}

body {
  font-family: var(--fnt-fm-default);
  font-size: var(--fnt-sz-text-default);
  color: var(--clr-text-default);
  display: grid;
  place-items: center;
  min-height: 100vh;
  transition: 0.4s ease;
  background: var(--neu-bg-default);
  box-shadow: var(--neu-shadow-default);
}

.header__main {
  font-size: var(--fnt-sz-main-header);
  font-weight: var(--fnt-wt-700);
}

.main {
  text-align: center;
  padding: 5rem;
  display: grid;
  justify-items: center;
  grid-template-rows: max-content 1fr;
  gap: 3rem;
}

.scores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.game {
  display: grid;
  place-items: center;
}

.scores {
  font-size: 3rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-areas: "p1name vs p2name" "p1score vs p2score";
}
.scores__player-name {
  font-weight: var(--fnt-wt-700);
}
.scores__score {
  display: grid;
  place-items: center;
  background: var(--neu-bg-default);
  box-shadow: var(--neu-shadow-default);
  width: 7rem;
  aspect-ratio: 1;
  border-radius: 2rem;
}

.vs {
  grid-area: vs;
}

#p1nameDisplay {
  grid-area: p1name;
}

#p2nameDisplay {
  grid-area: p2name;
}

#p1score {
  grid-area: p1score;
}

#p2score {
  grid-area: p2score;
}

.game__board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
  border-radius: 2rem;
}
.game__board-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--board-cell-size);
  aspect-ratio: 1;
  position: relative;
  cursor: pointer;
}

.game__board-cell.symbolO::before, .game__board.symbolO .game__board-cell:not(.symbolX):not(.symbolO):hover::before {
  content: "";
  border-radius: 100rem;
  position: absolute;
  height: calc(var(--symbol-size) * 0.7);
  aspect-ratio: 1;
}

.game__board-cell.symbolO::before {
  box-shadow: 0 0 0 0.8rem var(--clr-dark-grey);
}

.game__board.symbolO .game__board-cell:not(.symbolX):not(.symbolO):hover::before {
  box-shadow: 0 0 0 0.8rem var(--clr-medium-grey);
}

.game__board-cell.symbolX::before,
.game__board-cell.symbolX::after, .game__board.symbolX .game__board-cell:not(.symbolX):not(.symbolO):hover::before, .game__board.symbolX .game__board-cell:not(.symbolX):not(.symbolO):hover::after {
  content: "";
  height: var(--symbol-size);
  width: calc(var(--symbol-size) * 0.1);
  position: absolute;
}

.game__board-cell.symbolX::before, .game__board.symbolX .game__board-cell:not(.symbolX):not(.symbolO):hover::before {
  transform: rotate(45deg);
}

.game__board-cell.symbolX::after, .game__board.symbolX .game__board-cell:not(.symbolX):not(.symbolO):hover::after {
  transform: rotate(-45deg);
}

.game__board-cell.symbolX::before,
.game__board-cell.symbolX::after {
  background: var(--clr-dark-grey);
}

.game__board.symbolX .game__board-cell:not(.symbolX):not(.symbolO):hover::before, .game__board.symbolX .game__board-cell:not(.symbolX):not(.symbolO):hover::after {
  background: var(--clr-medium-grey);
}

.symbolX,
.symbolO {
  cursor: not-allowed;
}

.symbolX:not(.game__board),
.symbolO:not(.game__board) {
  background: var(--neu-bg-default);
  box-shadow: var(--neu-shadow-default);
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: var(--fnt-sz-footer-text);
  color: var(--clr-footer-text);
  text-align: center;
  padding: 3rem;
}

.setup {
  display: grid;
  gap: 2rem;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80rem;
  background: var(--neu-bg-default);
  box-shadow: var(--neu-shadow-default);
  padding: 3rem 3rem;
  z-index: 1000;
  transition: all 0.5s;
  border-radius: 2rem;
}
.setup__title {
  font-size: 2.5rem;
  font-weight: var(--fnt-wt-700);
  line-height: 1.5;
}
.setup__sub-header {
  font-weight: var(--fnt-wt-700);
}
.setup__form {
  display: flex;
  flex-direction: column;
  background: var(--neu-bg-default);
  box-shadow: var(--neu-shadow-default);
  border-radius: 2rem;
  padding: 2rem;
  gap: 2.5rem;
}
.setup__form input {
  font-size: 1.7rem;
  background: var(--neu-bg-down);
  box-shadow: var(--neu-shadow-down);
  padding: 1rem 1.5rem;
  border: 1px solid var(--clr-light-grey);
  border-radius: 1.2rem;
}
.setup__form input::placeholder {
  color: var(--clr-light-grey);
}
.setup__form label {
  font-size: var(--fnt-sz-form-label);
  font-weight: var(--fnt-wt-400);
}
.setup__form button {
  grid-column: 1/span 2;
  justify-self: center;
  margin-top: 1rem;
}

.overlay {
  position: fixed;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.outcome {
  display: grid;
  grid-template-areas: "outcometext outcometext" "replaybtn newgamebtn";
  gap: 2rem;
}
.outcome__text {
  grid-area: outcometext;
  font-size: 5rem;
  color: var(--clr-white);
}
.outcome__replay {
  grid-area: replaybtn;
}
.outcome__newgame {
  grid-area: newgamebtn;
}

.btn {
  color: var(--clr-dark-grey);
  text-transform: uppercase;
  text-align: center;
  background: var(--neu-bg-default);
  box-shadow: var(--neu-shadow-default);
  padding: 2rem 8rem;
  border-radius: 1rem;
  display: block;
  cursor: pointer;
  width: max-content;
}
.btn:hover {
  background: var(--neu-bg-up);
  box-shadow: var(--neu-shadow-default);
}
.btn:active {
  background: var(--neu-bg-down);
  box-shadow: var(--neu-shadow-down);
}

.switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 2.9rem;
}
.switch__label {
  position: absolute;
  left: 7rem;
  top: 25%;
  font-size: var(--fnt-sz-switch-label);
  width: max-content;
  text-transform: uppercase;
}
.switch__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch__checkbox:checked + .switch__slider {
  background: #2a9d8f;
  box-shadow: inset 11px 11px 22px #217c71, inset -11px -11px 22px #33bead;
}
.switch__checkbox:checked + .switch__slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}
.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--neu-bg-down);
  box-shadow: var(--neu-shadow-down);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch__slider:before {
  position: absolute;
  content: "";
  height: 2.5rem;
  aspect-ratio: 1;
  left: 2px;
  bottom: 2px;
  background: var(--clr-white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch__slider.round {
  border-radius: 100rem;
}
.switch__slider.round:before {
  border-radius: 50%;
}

.winner {
  background: var(--clr-green) !important;
}

.hidden {
  display: none;
}

.modern {
  background: var(--neu-bg-down);
  box-shadow: var(--neu-shadow-down);
  border-radius: 2rem;
  transition: 0.4s ease;
}
.modern:hover {
  background: var(--neu-bg-default);
  box-shadow: var(--neu-shadow-default);
}

.traditional {
  border: 1px solid var(--clr-dark-grey);
}
.traditional:first-child, .traditional:nth-child(2), .traditional:nth-child(3) {
  border-top: none;
}
.traditional:nth-child(3n+1) {
  border-left: none;
}
.traditional:nth-child(3n+3) {
  border-right: none;
}
.traditional:nth-child(7), .traditional:nth-child(8), .traditional:last-child {
  border-bottom: none;
}/*# sourceMappingURL=main.css.map */