@use '../abstracts/' as a;

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: var(--fnt-sz-footer-text);
  color: var(--clr-footer-text);
  text-align: center;
  padding: 3rem;
}
