@use '../abstracts/' as a;

.main {
  padding: 5rem;
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 3rem;
  height: 100%;
}

.scores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.game {
  display: grid;
  place-items: center;
}

.scores {
  font-size: 3rem;
  &__player-name {
    font-weight: var(--fnt-wt-700);
  }
  &__score {
    display: grid;
    place-items: center;
    background: var(--clr-yellow);
    width: 7rem;
    aspect-ratio: 1;
    border-radius: 2rem;
  }
}

.game__board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
  gap: 2rem;

  &-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--board-cell-size);
    aspect-ratio: 1;
    position: relative;
    cursor: pointer;
  }
}

.symbolX {
  &::before,
  &::after {
    content: '';
    height: var(--symbol-size);
    width: calc(var(--symbol-size) * 0.1);
    background: var(--clr-dark-grey);
    position: absolute;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
.symbolO {
  &::before {
    content: '';
    border-radius: 100rem;
    position: absolute;
  }
  &::before {
    height: calc(var(--symbol-size) * 0.7);
    aspect-ratio: 1;
    box-shadow: 0 0 0 0.8rem var(--clr-dark-grey);
  }
}

.game__board.turnX .game__board-cell:hover::before,
.game__board.turnX .game__board-cell:hover::after {
  content: '';
  height: var(--symbol-size);
  width: calc(var(--symbol-size) * 0.1);
  background: var(--clr-dark-grey);
  position: absolute;
}
.game__board.turnX .game__board-cell:hover::before {
  transform: rotate(45deg);
}
.game__board.turnX .game__board-cell:hover::after {
  transform: rotate(-45deg);
}

.symbolX,
.symbolO {
  cursor: not-allowed;
}
