@use 'sass:selector';
@use '../abstracts/' as a;

.main {
  padding: 5rem;
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 3rem;
  height: 100%;
}

.scores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.game {
  display: grid;
  place-items: center;
}

.scores {
  font-size: 3rem;
  &__player-name {
    font-weight: var(--fnt-wt-700);
  }
  &__score {
    display: grid;
    place-items: center;
    background: var(--clr-yellow);
    width: 7rem;
    aspect-ratio: 1;
    border-radius: 2rem;
  }
}

.game__board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
  gap: 2rem;

  &-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--board-cell-size);
    aspect-ratio: 1;
    position: relative;
    cursor: pointer;
  }
}

.symbolO {
  @at-root .game__board-cell#{&}::before,
    .game__board#{&} .game__board-cell:not(.symbolX):not(&):hover::before {
    content: '';
    border-radius: 100rem;
    position: absolute;
    height: calc(var(--symbol-size) * 0.7);
    aspect-ratio: 1;
  }

  @at-root .game__board-cell#{&}::before {
    box-shadow: 0 0 0 0.8rem var(--clr-dark-grey);
  }

  @at-root .game__board#{&}
      .game__board-cell:not(.symbolX):not(&):hover::before {
    box-shadow: 0 0 0 0.8rem var(--clr-medium-grey);
  }
}

.symbolX {
  @at-root .game__board-cell#{&}::before,
    .game__board-cell#{&}::after,
    .game__board#{&} .game__board-cell:not(&):not(.symbolO):hover::before,
    .game__board#{&} .game__board-cell:not(&):not(.symbolO):hover::after {
    content: '';
    height: var(--symbol-size);
    width: calc(var(--symbol-size) * 0.1);
    position: absolute;
  }
  @at-root .game__board-cell#{&}::before,
    .game__board#{&} .game__board-cell:not(&):not(.symbolO):hover::before {
    transform: rotate(45deg);
  }
  @at-root .game__board-cell#{&}::after,
    .game__board#{&} .game__board-cell:not(&):not(.symbolO):hover::after {
    transform: rotate(-45deg);
  }
  @at-root .game__board-cell#{&}::before,
    .game__board-cell#{&}::after {
    background: var(--clr-dark-grey);
  }
  @at-root .game__board#{&}
      .game__board-cell:not(&):not(.symbolO):hover::before,
    .game__board#{&} .game__board-cell:not(&):not(.symbolO):hover::after {
    background: var(--clr-medium-grey);
  }
}

.symbolX,
.symbolO {
  cursor: not-allowed;
}
