.btn {
  color: var(--clr-dark-grey);
  text-transform: uppercase;
  text-align: center;
  background: var(--neu-bg-default);
  box-shadow: var(--neu-shadow-default);
  padding: 2rem 8rem;
  border-radius: 1rem;
  display: block;
  cursor: pointer;
  width: max-content;
  &:hover {
    background: var(--neu-bg-up);
    box-shadow: var(--neu-shadow-default);
  }
  &:active {
    background: var(--neu-bg-down);
    box-shadow: var(--neu-shadow-down);
  }
}
