@use '../abstracts/' as a;
.setup {
  display: grid;
  gap: 2rem;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(50rem, 90vw);
  background: var(--neu-bg-default);
  box-shadow: var(--neu-shadow-default);
  padding: 3rem 3rem;
  z-index: 1000;
  transition: all 0.5s;
  border-radius: 2rem;
  @include a.breakpoint(370, max) {
    padding: 1rem;
  }
  &__title {
    font-size: var(--fnt-sz-settings-title);
    font-weight: var(--fnt-wt-700);
    line-height: 1.5;
  }
  &__sub-header {
    font-weight: var(--fnt-wt-700);
  }

  &__form {
    display: flex;
    flex-direction: column;
    background: var(--neu-bg-default);
    box-shadow: var(--neu-shadow-default);
    border-radius: 2rem;
    padding: 2rem;
    gap: 2.5rem;
    width: 100%;
    @include a.breakpoint(370, max) {
      padding: 0.8rem;
    }
  }
  &__form input {
    font-size: 1.7rem;
    background: var(--neu-bg-down);
    box-shadow: var(--neu-shadow-down);
    padding: 1rem 1.5rem;
    border-radius: 1.2rem;
    width: 100%;
    &::placeholder {
      color: var(--clr-light-grey);
    }
  }

  &__form label {
    font-size: var(--fnt-sz-form-label);
    font-weight: var(--fnt-wt-400);
  }
  &__form button {
    justify-self: center;
    margin-top: 1rem;
  }
}
.overlay {
  position: fixed;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.outcome {
  display: grid;
  grid-template-areas: 'outcometext outcometext' 'replaybtn newgamebtn';
  gap: 2rem;
  &__text {
    grid-area: outcometext;
    font-size: 5rem;
    color: var(--clr-white);
  }
  &__replay {
    grid-area: replaybtn;
  }
  &__newgame {
    grid-area: newgamebtn;
  }
}
