.switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 2.9rem;

  &__label {
    position: absolute;
    left: 7rem;
    top: 25%;
    font-size: var(--fnt-sz-switch-label);
    width: max-content;
    text-transform: uppercase;
  }

  &__checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .switch__slider {
      background: #2a9d8f;
      box-shadow: inset 11px 11px 22px #217c71, inset -11px -11px 22px #33bead;
    }

    &:checked + .switch__slider:before {
      -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
      transform: translateX(30px);
    }
  }
  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--neu-bg-down);
    box-shadow: var(--neu-shadow-down);
    -webkit-transition: 0.4s;
    transition: 0.4s ease;

    &:before {
      position: absolute;
      content: '';
      height: 2.5rem;
      aspect-ratio: 1;
      left: 2px;
      bottom: 2px;
      background: var(--clr-white);
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    &.round {
      border-radius: 100rem;
    }
    &.round:before {
      border-radius: 50%;
    }
  }
}
