@use '../abstracts/' as a;

:root {
  font-size: 62.5%;

  // colour

  --clr-text-default: var(--clr-dark-grey);
  --clr-main-header-text: var(--clr-white);
  --clr-footer-text: var(--clr-dark-grey);
  --modal-bg-colour: var(--clr-white);
  --board-cell-size: 10rem;
  --symbol-size: calc(var(--board-cell-size) * 0.8);
  --neu-bg-default: linear-gradient(145deg, #d1d1d1, #f8f8f8);
  --neu-bg-down: #e8e8e8;
  --neu-bg-up: linear-gradient(145deg, #f8f8f8, #d1d1d1);
  --neu-shadow-default: 1rem 1rem 2rem #b7b7b7, -1rem -1rem 2rem #ffffff;
  --neu-shadow-down: inset 1rem 1rem 2rem #b7b7b7,
    inset -1rem -1rem 2rem #ffffff;

  --clr-green: #2a9d8f;
  --clr-white: #fdfffc;
  --clr-dark-grey: #6c757d;
  --clr-medium-grey: #adb5bd;
  --clr-light-grey: ##e8e8e8;

  // font

  --fnt-fm-default: 'Ubuntu', sans-serif;
  --fnt-sz-main-header: 4rem;
  --fnt-sz-text-default: 1.6rem;
  --fnt-sz-footer-text: 1.4rem;
  --fnt-sz-scores-text: 2.5rem;
  --fnt-sz-settings-title: 2.5rem;

  --fnt-wt-300: 300;
  --fnt-wt-400: 400;
  --fnt-wt-700: 700;

  @include a.breakpoint(280, max) {
    --board-cell-size: 6rem;
  }
  @include a.breakpoint(md, min) {
    --fnt-sz-scores-text: 3.5rem;
  }
}

body {
  font-family: var(--fnt-fm-default);
  font-size: var(--fnt-sz-text-default);
  color: var(--clr-text-default);
  display: grid;
  place-items: center;
  min-height: 100vh;
  transition: 0.4s ease;
  background: var(--neu-bg-default);
  box-shadow: var(--neu-shadow-default);
}
