.winner {
  background: var(--clr-green) !important;
}

.hidden {
  display: none;
}

.modern {
  background: var(--neu-bg-down);
  box-shadow: var(--neu-shadow-down);
  border-radius: 2rem;
  transition: 0.4s ease;
  &:hover {
    background: var(--neu-bg-default);
    box-shadow: var(--neu-shadow-default);
  }
}

.traditional {
  border: 1px solid var(--clr-dark-grey);
  &:first-child,
  &:nth-child(2),
  &:nth-child(3) {
    border-top: none;
  }
  &:nth-child(3n + 1) {
    border-left: none;
  }
  &:nth-child(3n + 3) {
    border-right: none;
  }
  &:nth-child(7),
  &:nth-child(8),
  &:last-child {
    border-bottom: none;
  }
}
